<%- include('../../includes/head.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <%- include('../../includes/navigation.ejs') %>
    
    <main class="flex-grow-1 d-flex flex-column container">
      <form
        action="/admin/add-product"
        method="POST"
        style="max-width: 330px"
        class="m-auto"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" name="title" class="form-control mb-3" />
        </div>

        <div class="mb-3">
          <label class="form-label">Price</label>
          <input type="number" inputmode="numeric" pattern="[0-9]*[0-9]+" name="price" id="product-price" class="form-control mb-3" placeholder="price" />
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea type="text" name="description" id="product-desc" class="form-control mb-3" 
          placeholder="Description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Image File</label>
          <input type="file" name="image" class="form-control mb-3" />
        </div>

        <button
          type="submit"
          class="btn btn-primary w-100"
        >
          Add product
        </button>
      </form>
    </main>

<%- include('../../includes/footer.ejs') %>
