<%- include('../../includes/head.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <% include('../../includes/navigation.ejs') %>
    <main class="flex-grow-1 d-flex flex-column container">
      <h1 class="m-auto">Edit product</h1>
      <h2>123123</h2>
    </main>

<%- include('../../includes/footer.ejs') %>
