<%- include('../includes/head.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <main class="flex-grow-1 d-flex flex-column container">
      <h1 class="m-auto">Page not found</h1>
    </main>

    <%- include('../includes/footer.ejs') %>
